@import url('https://fonts.googleapis.com/css?family=Pacifico');
*{
margin:0;
padding:0;		
}
div, section{
	margin:0;
	padding:0;
}
img{
	max-width:100%;
	height:auto;
	
}
a:focus{
	outline:0px none;
	
}
-webkit-::selection{
	background:#34AFE1;
	color:#fff;
}
-moz-::selection{
	background:#34AFE1;
	color:#fff;
}
::selection{
	background:#34AFE1;
	color:#fff;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}
.flow{
	overflow:hidden;
}
.width{
	width:1170px;
	margin:auto;
	
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.clear{
	clear:both;
}
ul{
	
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
	color:#8ec448;
	
}
a:active, a:hover{
	outline:0 none;
	
}
body{
	font-size:16px;
	color:#444;
	background:#E4F1D7;
}
/*--------- left_content-start------- */
.top{
	    padding-top: 20px;
}
.logo img{
	margin-left: 4px;
}
.menu{
	background: #A1CAC1;
    margin-top: 32px; 
}
.menu:hover{
	background: #47A5AE;
}
.i{	
    font-size: 32px;
    color: white;
}
.h1{
   color: white;
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 12px;
    margin-left: 31px;
}
.drop_back{
	   background: #47A5AE;
		width: 262px;				
}
.drop_back li a{
	color: white;
    font-size: 16px;
    font-weight: 600;
	display:block;
	position:relative;
}
.drop_back li a:hover{
	color: white;
	 background: #A1CAC1; 
}
.basic h2{
	background: #A1CAC1;
    margin-top: 20px;
    font-size: 23px;
    color: white;
    padding: 8px;
}
.basic p{
	background: white;
    width: 100%;
    height: 200px;
}
.right{
	margin-left: 126px;
    color: #337ab7;
}
/* submenu */
.bangla{
	display: none;
	position:absolute;
}
.bangla li{
	list-style:none;
}
.bangla li a{}
.bangla li a:hover{
	
}
.block{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
/*--------- left_content-end------- */
/*--------- right_content-start------- */
.list{
	    float: left;
    margin-right: 30px;
    color: black;
}
.none{
	list-style:none;
}
.name{
	font-family: 'Pacifico', cursive;
    color: #47A5AE;
    font-size: 59px;
    margin-bottom: 14px;
}
.right_menu{}
.right_menu li{
	list-style: none;
    float: left;
}
.right_menu li a{
	display: block;
    text-transform: uppercase;
    color: white;
    background: #A1CAC1;
    margin-right: 3px;
    padding: 8px 21px;
}
.right_menu li a:hover{
	background:#47A5AE;
}
.right_se{
	float: left;
    width: 128px;
    padding: 7px 2px;
    border: 1px solid #2e7ca1;
}
.icon_i{
	float: right;
    border: 1px solid gray;
    padding: 10px;
    color: gray;
    background: #80808026;
}
.menu_mar{
	margin-top: 20px;
    margin-bottom: 10px;
}
.book{
	padding-top: 30px;
}
.book img{}
.book h3{
	    font-size: 18px;
    padding-top: 20px;
	color:#A1CAC1;
	padding-left: 10px;
}
.text{
	padding-top: 30px;
}
.text h3{}
.text p{
	    font-size: 14px;
    color: #71523F;
	padding-top: 10px;
}
.text_back{
	background: white;
    overflow: scroll;
    margin: 0px;
    height: 540px;
}
.color{
	font-size: 14px;
    color: #71523F;
}
.nav-pills>li>a:hover{
background:none	
	
}
.nav-pills>li>a:focus{
background:none	
	
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}